body {
    margin: 0;
}

button {
    height: 100px;
    width: 100px;
}

form {
    position: fixed;
    text-align: center;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
}

.main-body {
    display: flex;
}

.container {
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 280px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.invisible {
    display: none;
}